.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__wrap {
  margin-left: 30px;
  display: flex;
  width: 290px;
  flex-direction: column;
  align-items: flex-start;
}

.cards__tittle {
  color: #000000;
  font-weight: 700;
  margin-top: 30;
  margin-bottom: 0;
}

.cards__week {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.cards__info {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  width: 249px;
  margin-top: 30px;
  padding: 0;
}

.cards__list {
  margin-top: 34px;
  width: 260px;
  border-collapse: collapse;
  font-size: 15px;
  font-weight: 400;
}

tr:nth-child(1) {
  border-bottom: 1px solid #f1f1f1;
}

tr:nth-child(3) {
  border-bottom: 1px solid #f1f1f1;
}

td {
  padding-right: 10px;
}


.cards__image {
  padding-top: 30px;
}

.cards__value {
  width: 260px;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
  /*
  .cards__image-zigzag{
    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-size: contain;
    height: 6px;
    min-width: 320px;
    margin-top: 36px;
    margin-bottom: 30px;

  }
  */
.button{
  border: 2px solid #444444;
  width: 260px;
  height: 52px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  color: #444444;
}

@media (min-width: 768px){

  .cards__wrap {
    position: relative;
    display: flex;
    width: 670px;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;
  }

  .cards__tittle {
    font-size: 43px;
    order: 1;
    margin-top: 0;
    margin-right: 150px;
    height: 42px;
  }

  .cards__week {
    position: absolute;
    right: 30px;
    text-align: center;
    width: 70px;
    height: 33px;
    line-height: 17px;
  }

  .cards__image {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 100px;
    padding: 0;
    right: 0;
  }

  .cards__info {
    order: 3;
    height: 130px;
    margin-right: 250px;
    margin-top: 55px;
  }

  .cards__list {
    order: 4;
    position: relative;
    margin-right: 250px;
    margin-top: 0;
  }

  .cards__image-zigzag {
    order: 4;
    min-width: 772px;
    height: 17px;
  }

  .cards__value {
    order: 4;
    width: 260px;
    margin-right: 250px;
    margin-top: 73px;
    margin-bottom: 24px;
  }

  .cards__button {
    order: 4;
    margin-right: 250px;
    margin-bottom: 50px;
  }
}
