.catalog__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog__item{
  width: 260px;

  border: 1px solid #ececec;
  margin-left: 30px;
  margin-top: 30px;
}
.catalog__title{
  font-size: 17px;
  font-weight: 700;
  padding-left: 28px;
}
.catalog__title-text{
  margin-left: 28px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  width: 205px;
  border-bottom: 1px solid #ececec;
}
.catalog__table{
  margin-left: 21px;
  width: 205px;
  margin-bottom: 25px;
}
.catalog__table td{
  display: block;
}
.catalog__value{
  font-weight: 700;
  font-size: 15px;
  float: left;
}
.catalog__cart{
  opacity: 0.2;
  float: right;
}
.catalog_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__icon{
  width: 32px;
  height: 22px;
  fill: #63d1bb;
}
.catalog__item-play{
  position: absolute;
  margin-left: 80px;
  margin-top: 37px;
}
.catalog__order{
  width: 192px;
  margin-left: 34px;
  margin-bottom: 33px;
}
