.page-main {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.categories {
  position: relative;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__image-zigzag {
  display: none;
}

.categories__block:nth-child(3) {
  background-color: #56c3b2;
}

.categories__block {
  text-decoration: none;
  height: 103px;
  min-width: 320px;
  background-color: #63d1bb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.categories__link {
  font-size: 19px;
  color: #ffffff;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  width: 106px;
  margin: auto;
}

.categories__icon {
  margin-right: 36px;
  width: 60px;
  height: 62px;
}

.categories__icon-interior {
  background: url("../img/icon-interior.svg") center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.categories__icon-toy {
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -125px;
  }

  .categories__image-zigzag {
    display: block;
    position: absolute;
    bottom: -10px;
    width: 770px;
    height: 24px;
  }

  .categories__block {
    width: 334px;
    height: 119px;
  }
}

@media (min-width: 1150px) {
  .categories__block {
    width: 525px;
    display: block;
  }

  .categories svg {
    width: 1250px;
    height: 34px;
  }

  .categories__link {
    float: left;
    margin: auto 0;
    padding-top: 30px;
    padding-left: 35px;
  }

  .categories__icon {
    float: right;
    margin-top: 20px;
  }
}
