.contacts__wrap {
  padding-left: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 260px;
}

.contacts__mail-address {
  width: 120px;
  border-bottom: 1px solid #62d1ba;
}

.contacts__mail {
  width: 70px;
}

.contacts__post-address {
  padding-top: 40px;
}

.contacts_map {
  margin-top: 40px;
}

.contacts__write {
  margin-left: 30px;
  margin-top: 40px;
}
