.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts__wrap {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 260px;
}

.contacts__mail-address {
  width: 120px;
  border-bottom: 1px solid #62d1ba;
}

.contacts__mail {
  width: 70px;
}

.contacts__post-address {
  padding-top: 40px;
}

.contacts__map {
  margin-top: 40px;
  background: url("../img/map-mobile@1x.jpg");
  width: 322px;
  height: 457px;
}

.contacts__write {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contacts__wrap {
    position: relative;
    margin-left: -30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    width: 680px;
  }

  .contacts__tittle {
    font-size: 43px;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .contacts__tittle::after {
    content: url("../img/icon-flag.svg");
    position: absolute;
    right: 0;
    top: 30px;
  }

  .contacts__list tr {
    display: flex;
    align-items: flex-start;
    width: 277px;
    margin-right: 170px;
  }

  .contacts tbody {
    display: flex;
    flex-direction: row;
  }

  .contacts__post-address {
    width: 219px;
    padding: 0;
    padding-left: 30px;
  }

  .contacts__mail-address {
    border: none;
  }

  .contacts__map {
    background: url("../img/map-tablet@1x.jpg");
    width: 768px;
    height: 457px;
  }
}
