.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts__wrap {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 260px;
}

.contacts__mail-address {
  width: 120px;
  border-bottom: 1px solid #62d1ba;
}

.contacts__mail {
  width: 70px;
}

.contacts__post-address {
  padding-top: 40px;
}

.contacts__map {
  margin-top: 40px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  margin-left: -30px;
  width: 320px;
  height: 457px;
}

.contacts__write {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contacts__wrap {
    position: relative;
    margin-left: -30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    width: 680px;
  }

  .contacts__tittle {
    font-size: 43px;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .contacts__tittle::after {
    content: url("../img/icon-flag.svg");
    position: absolute;
    right: 0;
    top: 30px;
  }

  .contacts__list tr {
    display: flex;
    align-items: flex-start;
    width: 277px;
    margin-right: 120px;
  }

  .contacts tbody {
    display: flex;
    flex-direction: row;
  }

  .contacts__post-address {
    width: 219px;
    padding: 0;
    padding-left: 30px;
  }

  .contacts__mail-address {
    border: none;
  }

  .contacts__map {
    background: url("../img/map-tablet@1x.jpg");
    width: 768px;
    height: 457px;
    margin-left: -30px;
  }

  .contacts__write {
    margin-top: 40px;
    position: relative;
    left: 240px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: flex;
    align-items: center;
    min-width: 1150px;
    height: 580px;
    margin-top: 100px;
  }

  .contacts__wrap {
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 395px;
    margin-top: 60px;
  }

  .contacts__tittle::after {
    display: none;
  }

  .contacts__tittle::before {
    content: url("../img/icon-flag.svg");
    position: absolute;
    top: 52px;
    left: 79px;
  }

  .contacts__tittle {
    text-align: center;
    padding-left: 70px;
    padding-top: 15px;
    font-size: 53px;
    width: 500px;
    margin-bottom: 50px;
  }

  .contacts__map {
    background: url("../img/map-desktop@1x.jpg");
    position: absolute;
    right: 0;
    width: 525px;
    height: 457px;
    margin-top: -10px;
    margin-right: -13px;
  }

  .contacts tbody {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 408px;
    margin-left: 187px;
    font-size: 17px;
    position: relative;
  }

  .contacts__list {
    position: relative;
    height: 210px;
  }

  .contacts__list tr:nth-child(1) {
    .contacts__list td:nth-child(1) {
      position: absolute;
      top: 20px;
    }

    .contacts__list td:nth-child(2) {
      position: absolute;
      left: 50px;

    }
  }

  .contacts__write {
    position: relative;
    width: 230px;
    height: 52px;
    left: 200px;
    bottom: 10px;
  }
}
