footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-footer__wrap {
  height: 160px;
  width: 320px;
  margin-top: 39px;
  background: #f1f1f1;
}

.page-footer__social {
  margin-left: 30px;
  width: 260px;
}

.social__list {
  list-style: none;
  padding-bottom: 20px;
}

.social__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.social__item a {
  padding: 0;
}

.social__link {
  text-decoration: none;
  width: 21px;
  height: 21px;
  padding-top: 30px;
}

.social__link--instagram::before {
  content: url("../img/icon-insta.svg");
}

.social__link--facebook::before {
  content: url("../img/icon-fb.svg");
}

.social__link--twitter::before {
  content: url("../img/icon-twitter.svg");
}

.page-footer__copyright {
  border-top: 1px solid #e5e5e5;
  width: 260px;
  margin-left: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  padding-right: 20px;
}

.copyright__link {
  height: 20px;
}

.page-footer__image {
  width: 27px;
  height: 34px;
}

@media (min-width: 768px) {
  .page-footer__wrap {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    height: 143px;
    min-width: 768px;
    margin-top: 39px;
  }

  .page-footer__social {
    width: 141px;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 84px;
  }

  .social__list {
    padding: 0;
    margin: 0;
  }

  .social__list a {
    padding: 0;
  }

  .page-footer__logo {
    background: url("../img/logo-footer.svg");
    width: 102px;
    height: 34px;
    margin-left: 50px;
    margin-right: 117px;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
    border: none;
    height: 143px;
  }
}
