.inform__wrap {
  padding-left: 30px;
}

.inform__tittle {
  font-size: 25px;
  font-weight: 700;
}

.inform__list {
  padding-left: 0;
}

.inform__item {
  list-style: none;
  padding-bottom: 10px;
}

.inform__item:nth-child(1)::before {
  content: url("../img/icon-feature-flower.svg");
}

.inform__item:nth-child(2)::before {
  content: url("../img/icon-feature-money.svg");
}

.inform__item:nth-child(3)::before {
  content: url("../img/icon-feature-heart.svg");
}

.inform__item:nth-child(4)::before {
  content: url("../img/icon-feature-ball.svg");
}

.inform__item:nth-child(5)::before {
  content: url("../img/icon-feature-rocket.svg");
}

.inform__item:nth-child(6)::before {
  content: url("../img/icon-feature-gift.svg");
}

.inform__description {
  font-size: 17px;
  font-weight: 700;
}
