page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
}
.menu-nav__wrap {
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.menu-nav {
  width: 22px;
  padding-right: 20px;
}

.menu-nav__logo {
  text-align: center;
}

.menu-nav__logo-image {
  width: 86px;
}

.menu-nav__list {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 320px;
  height: 395px;
  background: #ffffff;
  z-index: 1;
  padding: 0;
  margin: auto;
}

.menu-nav__list:focus {
  background: burlywood;
}

.menu-nav__icon--open:active ~ .menu-nav__list,
.menu-nav__icon--open:focus ~ .menu-nav__list,
.menu-nav__list:hover {
  display: block;
}

.menu-nav__icon--open:focus {
  background: url("/img/icon-menu-close.svg");
  width: 21px;
  height: 20px;
}

.menu-nav__item {
  list-style: none;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-nav__link {
  text-decoration: none;
  color: #000000;
}

.menu-nav__item:nth-child(3) a::before {
  content: url("/img/icon-search.svg");
  opacity: 0.3;
  position: absolute;
  left: 50px;
}

.menu-nav__item:nth-child(4) a::before {
  content: url("/img/icon-cart.svg");
  opacity: 0.3;
  position: absolute;
  left: 50px;
}

.menu-nav__icon--open {
  background: url("/img/icon-menu-open.svg");
  width: 22px;
  height: 14px;
  border: none;
}

.page-haeder__wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 320px;
}

.page-header__title {
  position: absolute;
  font-size: 27px;
  width: 280px;
  margin-top: 76px;
}

.page-header__image {
  height: 373px;
  width: 575px;
  background: url("/img/hero-mobile@1x.jpg") no-repeat center;
}

@media (min-width: 768px) {
  .page-header{
    min-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-nav__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 768px;
    z-index: 1;
    position: relative;
  }

  .menu-nav__icon--close {
    display: none;
  }

  .menu-nav__list {
    display: block;
    background: none;
    position: relative;
    left: 0;
    min-width: 768px;
    height: 100%;
  }

  .menu-nav {
    width: 768px;
    display: flex;
    justify-content: center;
  }

  .menu-nav__logo-image {
    display: none;
  }

  .menu-nav__logo::after {
    content: url("/img/logo-tablet.svg");
    background-repeat: no-repeat;
    width: 113px;
    height: 46px;
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 22px;
  }

  .menu-nav__item {
    display: block;
    position: absolute;
    font-weight: 700;
    font-size: 15px;
    box-shadow: none;
    margin: 0;
    text-align: right;
  }

  .menu-nav__item:nth-child(1) {
    left: 60px;
    top: -50px;
  }

  .menu-nav__item:nth-child(2) {
    left: 210px;
    top: -50px;
  }

  .menu-nav__item:nth-child(3) a {
    display: none;
  }

  .menu-nav__item:nth-child(3)::before {
    content: url("/img/icon-search.svg");
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
    left: 420px;
    top: -90px;
  }

  .menu-nav__item:nth-child(4) {
    right: 50px;
    top: -120px;
    width: 250px;
  }

  .menu-nav__item:nth-child(4) a::before {
    position: absolute;
    left: 30px;
  }

  .menu-nav__item:nth-child(4)::after {
    content: "Бесплатная доставка";
    position: absolute;
    top: 100px;
    width: 100%;
    right: 0;
    font-weight: normal;
    font-size: 15px;
    opacity: 0.3;
  }

  .page-haeder__wrap {
    display: flex;
    justify-content: center;
  }

  .page-header__title {
    margin-top: 180px;
    font-size: 43px;
    min-width: 680px;
    line-height: 50px;
  }

  .page-header__image {
    background: url("/img/hero-tablet@1x.jpg") no-repeat center;
    min-height: 746px;
    min-width: 768px;
  }
}

@media (min-width: 1150px){
  .menu-nav__wrap {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 1150px;
    position: relative;
  }

  .page-header__image {
    background: url("/img/hero-desktop@1x.jpg") no-repeat center;
    min-height: 746px;
    min-width: 1150px;
  }

  .menu-nav__logo::after {
    content: url("/img/logo-tablet.svg");
    display: block;
    background-repeat: no-repeat;
    width: 113px;
    height: 46px;
    position: relative;
    top: 0;
    left: 0;
  }

  .menu-nav {
    min-width: 1150px;
    position: absolute;
    left: 0;
    display: flex;

  }

  .menu-nav__list{
    width: 1150px;
  }
  .menu-nav__item{
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 240px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-nav__item:nth-child(1) {
    border-right: 1px solid #ececec;
    top: -125px;
    left: -20px;
    padding-right: 10px;
  }

  .menu-nav__item:nth-child(1)::after{
    position: absolute;
    top: 120px;
    left: 55px;
    content: "Новые поступления";
    font-size: 15px;
  }

  .menu-nav__item:nth-child(2) {
    top: -125px;
    left: 210px;
  }

  .menu-nav__item:nth-child(2)::after {
    position: absolute;
    content: "Распродажа";
    top: 120px;
    left: 50px;
    font-size: 15px;
  }


  .menu-nav__item:nth-child(3)::before {
    top: -125px;
    left: 770px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-nav__item:nth-child(4) a::before {
    position: absolute;
    left: 10px;
  }

  .menu-nav__item:nth-child(4) {
    top: -125px;
    left: 900px;
  }

  .menu-nav__item:nth-child(4)::after {
    content: "Бесплатная доставка по России";
    right: 45px;
    top: 120px;
  }
}
