.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-nav__wrap {
  min-width: 320px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;

}

.menu-nav {
  width: 22px;
  padding-right: 20px;
}

.menu-nav__logo {
  width: 70%;
  text-align: center
}

.menu-nav__logo-image {
  width: 86px;
}

.menu-nav__list {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 320px;
  height: 395px;
  background: #fff;
  z-index: 1;
  padding: 0;
  margin: auto;
}

.menu-nav__list:focus {
  background: burlywood;
}

.menu-nav__icon--open:active ~.menu-nav__list, .menu-nav__icon--open:focus ~ .menu-nav__list,
.menu-nav__list:hover {
  display: block;

}

.menu-nav__icon--open:focus {
  background: url("/img/icon-menu-close.svg");
  width: 21px;
  height: 20px;
}

.menu-nav__item {
  list-style: none;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-nav__link {
  text-decoration: none;
  color: #000000;
}

.menu-nav__list li:nth-child(3) {
  display: block;
  background: url("/img/icon-search.svg") no-repeat 15%;
}

.menu-nav__list li:nth-child(4) {
  background: url("/img/icon-cart.svg") no-repeat 15%;
}

.menu-nav__icon--open {
  background: url("/img/icon-menu-open.svg");
  width: 22px;
  height: 14px;
  border: none;
}

.page-haeder__wrap {
  position: relative;
  text-align: center;
  width: 320px;
}

.page-header__title {
  position: absolute;
  font-size: 27px;
  width: 320px;
  margin-top: 76px;
}

.page-header__image {
  height: 373px;
  background: url("/img/hero-mobile@1x.jpg") no-repeat center;
}

@media (min-width: 768px) {

  .menu-nav__wrap {
    min-width: 768px;
    display: flex;
    justify-content: flex-start;
  }

  .menu-nav__icon--close {
    display: none;
  }

  .menu-nav {
    position: absolute;
    width: auto;
    left: 0;
  }

  .menu-nav__list {
    display: none;
    flex-direction: row;
    background: none;
    width: 100vw;
  }

  .menu-nav__item {
    padding: 0;
    width: 131px;
    text-align: left;
    font-size: 15px;
    height: 15px;
    margin: 0;
  }

  .menu-nav__logo {
    width: auto;
  }

  .menu-nav__logo-image {
    display: block;
    background: url("/img/logo-tablet.svg");
    background-repeat: no-repeat;
    width: 113px;
    height: 46px;
  }

  br {
    display: none;
  }

  .page-haeder__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .page-header__title {
    margin-top: 180px;
    font-size: 43px;
    width: 494px;
    line-height: 50px;
  }

  .page-header__image {
    background: url("/img/hero-tablet@1x.jpg") no-repeat center;
    min-height: 746px;
    min-width: 768px;
  }
}
