.reviews__wrap {
  padding-left: 30px;
}

.reviews__item {
  margin-left: 0;
}

.reviews__write {
  margin-top: 38px;
}

.reviews__author-name {
  font-style: inherit;
  line-height: 24px;
  font-size: 17px;
}

.reviews__button {
  border: 1px solid #ececec;
  width: 260px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.reviews__prev {
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  width: 50px;
  height: 26px;
  padding: 20px 40px;
  border: none;
}

.reviews__line {
  border: 1px solid #ececec;
  height: 50px;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
}

.reviews__next {
  background: url("../img/icon-right-arrow.svg") no-repeat center;
  width: 50px;
  height: 26px;
  padding: 20px 40px;
  border: none;
}
