.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews__wrap {
  width: 290px;
  margin-left: 30px;
}

.reviews__image {
  display: none;
}

.reviews__tittle {
  font-size: 25px;
}

.reviews__text {
  font-size: 15px;
}

.reviews__item {
  margin-left: 0;
}

.reviews__write {
  margin-top: 38px;
}

.reviews__author-name {
  font-style: inherit;
  line-height: 24px;
  font-size: 17px;
}

.reviews__button {
  border: 1px solid #ececec;
  width: 260px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.reviews__prev {
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  width: 50px;
  height: 26px;
  padding: 20px 40px;
  border: none;
}

.reviews__line {
  border: 1px solid #ececec;
  height: 50px;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
}

.reviews__next {
  background: url("../img/icon-right-arrow.svg") no-repeat center;
  width: 50px;
  height: 26px;
  padding: 20px 40px;
  border: none;
}

@media (min-width: 768px) {
  .reviews {
    margin-top: 30px;
    height: 457px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .reviews__wrap {
    position: relative;
    margin-left: -30px;
    width: 670px;
    height: 457px;
  }

  .reviews__image {
    display: block;
    position: absolute;
    width: 350px;
    height: 457px;
    margin-left: -30px;
  }

  .reviews__tittle {
    z-index: 1;
    margin: 0;
    font-size: 43px;
    position: absolute;
    top: 84px;
  }

  .reviews__text {
    position: absolute;
    width: 642px;
    top: 150px;
    line-height: 30px;
    font-weight: 400;
    font-size: 17px;
  }

  .reviews__write {
    position: absolute;
    right: 0;
    margin: 0;
    top: 84px;
  }

  .reviews__author-name {
    position: absolute;
    top: 354px;
    width: 254px;
  }

  .reviews__button {
    position: absolute;
    right: 0;
    bottom: 60px;
    border: none;
  }

  .reviews__line {
    display: none;
  }
}

@media (min-width: 1150px) {
  .reviews__wrap {
    width: 1050px;
    margin: 0;
  }

  .reviews__image {
    margin: -20px;
  }

  .reviews__tittle {
    font-size: 53px;
  }

  .reviews__tittle,
  .reviews__text,
  .reviews__author-name {
    padding-left: 150px;
  }

  .reviews__text {
    width: 800px;
    top: 170px;
  }

  .reviews__write {
    width: 175px;
    height: 52px;
  }

  .reviews__button {
    display: flex;
    justify-content: flex-end;
  }
}
