@font-face {
  font-family: "OpenSans";
  src: url("/source/fonts/opensans.woff");
  src: url("/source/fonts/opensans.woff2");
}

@font-face {
  font-family: "OpenSans";
  src: url("/source/fonts/opensansbold.woff");
  src: url("/source/fonts/opensansbold.woff2");
}
