@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff2");
}
