@import "fonts";

body {
  max-width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x:  hidden;
  font: 14px OpenSans;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
@import "header/page-header.scss";
@import "main/categories.scss";
@import "main/cards.scss";
@import "main/inform.scss";
@import "main/reviews.scss";
@import "main/contacts.scss";
@import "footer/footer.scss";

