.page-header{
  position: relative;
  .menu-nav{
    position: absolute;
    display: flex;
    height: 79px;
    width: 320px;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    align-items: center;
    justify-content: center;
    background: white;
  }
  .menu-nav__wrap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 320px;
    height: 79px;
    .menu-nav__icon--open{
      background: url("../img/icon-menu-open.svg");
      margin: 30px 30px;
      width: 20px;
      height: 14px;
      //align-self: flex-start;
    }
    .menu-nav__list{
      display: none;
    }
    .menu-nav__icon--open:focus~.menu-nav__list,
    .menu-nav__icon--open:active~.menu-nav__list,
    .menu-nav__list:hover
    {
      display: block;
      padding-top: 395px;
      text-align: center;
      z-index: 1;
      list-style: none;
      width: 320px;
      .menu-nav__link{
        text-decoration: none;
        font-size: 17px;
        margin: 0 auto;
      }
      .menu-nav__item{
        width: 320px;
        height: 79px;
        background: #ffffff;
        box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
      }
      .menu-nav__item:nth-child(3)::before{
        content: url(/source/img/icon-search.svg);
        opacity: 0.2;
      }
      .menu-nav__item:nth-child(1)::before{
        content: url(/source/img/icon-cart.svg);
        opacity: 0.2;
      }
    }
    
     
  }
  .page-header__title{
    //margin-top: 100px;
    top: 100px;
    position: absolute;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .page-header__image{
    padding-top: 80px;
    width: 320px;
    z-index: -1;

  }
}
